/* GLOBAL STYLES
  -------------------------------------------------- */
/* Padding below the footer and lighter body text */
body {
  padding-bottom: 40px;
  color: #5a5a5a;
}
.navbar {
  margin-top: 15px;
}
.link {
  color: #08c;
  text-decoration: none;
}
.link:hover {
  text-decoration: underline;
}
.centered {
  text-align: center;
}
#original-url {
  width: 450px;
}
.loading {
  text-align: center;
  background: url('/images/ajax-loader.gif') center center no-repeat;
  height: 32px;
  width: 100%;
}
.footer {
  text-align: center;
  padding: 30px 0;
  margin-top: 40px;
  border-top: 1px solid #E5E5E5;
  background-color: whiteSmoke;
}
.stat-box .title {
  font-size: 20px;
  margin-bottom: 5px;
}
.stat-box .well {
  font-size: 25px;
  font-weight: bold;
}
#main-graph {
  margin-bottom: 15px;
}
